.app {
    text-align: center;
}

.app > .header {
    width: 80vw;
    margin: 0 auto 85px;
}

.app > .card {
    display: inline-block;
    box-sizing: border-box;
    width: 80vw;
    height: 80vw;
}